<h3>PRICING TABLES</h3>


<section class="jumbotron" id="calendar-pricing">
	
	<div class="container">
		
		<div class="btn-group btn-toggle tabs billing-option object-center" role="tablist" data-tabs="tabs">
	    	<a [ngClass]="{'active': isClassVisible }" (click)="isClassVisible = !isClassVisible" class="btn btn-gray small active" data-target="#annual-billing" data-toggle="tab">Annual billing</a>
			<a [ngClass]="{'active': !isClassVisible }" (click)="isClassVisible = !isClassVisible" class="btn btn-gray small" data-target="#monthly-billing" data-toggle="tab">Monthly billing</a>
	    </div>
	    
	    <div class="tab-content row">
			
			<div role="tabpanel" class="tab-pane active fade in" id="annual-billing">
			
				<div class="col-sm-4 price-option">
					
					<div class="price-box">
						
						<h4>Solo</h4>
						
						<div class="price">$29<span class="per">/month</span></div>
						<div class="price-note">Billed annually</div>
						
						<hr>
						
						<ul>
							<li>All features</li>
							<li>Just you</li>
							<li>1 site</li>
						</ul>
						
						<a href="#" class="btn" data-toggle="modal" data-target="#cal-request-invite-solo">Request Invite</a>
												
					</div><!--/ .price-box -->
					
				</div><!--/ .price-option -->
				
				<div class="col-sm-4 price-option">
					
					<div class="price-box">
						
						<h4>Team</h4>
						
						<div class="price">$79<span class="per">/month</span></div>
						<div class="price-note">Billed annually</div>
						
						<hr>
						
						<ul>
							<li>All features</li>
							<li>You and up to 4 teammates</li>
							<li>1 site</li>
						</ul>
						
						<a href="#" class="btn" data-toggle="modal" data-target="#cal-request-invite-team">Request Invite</a>
												
					</div><!--/ .price-box -->
					
				</div><!--/ .price-option -->
				
				<div class="col-sm-4 price-option">
					
					<div class="price-box">
						
						<h4>Agency</h4>
						
						<div class="price">$249<span class="per">/month</span></div>
						<div class="price-note">Billed annually</div>
						
						<hr>
						
						<ul>
							<li>All features</li>
							<li>Up to 5 users per site</li>
							<li>Up to 10 sites</li>
						</ul>
						
						<a href="#" class="btn" data-toggle="modal" data-target="#cal-request-invite-agency">Request Invite</a>
												
					</div><!--/ .price-box -->
					
				</div><!--/ .price-option -->
				
			</div><!--/ .tab-pane#annual-billing -->
			
			<div role="tabpanel" class="tab-pane fade" id="monthly-billing">
			
				<div class="col-sm-4 price-option">
					
					<div class="price-box">
						
						<h4>Solo</h4>
						
						<div class="price">$39<span class="per">/month</span></div>
						
						<hr>
						
						<ul>
							<li>All features</li>
							<li>Just you</li>
							<li>1 site</li>
						</ul>
						
						<a href="#" class="btn" data-toggle="modal" data-target="#cal-request-invite-solo">Request Invite</a>
												
					</div><!--/ .price-box -->
					
				</div><!--/ .price-option -->
				
				<div class="col-sm-4 price-option">
					
					<div class="price-box">
						
						<h4>Team</h4>
						
						<div class="price">$99<span class="per">/month</span></div>
						
						<hr>
						
						<ul>
							<li>All features</li>
							<li>You and up to 4 teammates</li>
							<li>1 site</li>
						</ul>
						
						<a href="#" class="btn" data-toggle="modal" data-target="#cal-request-invite-team">Request Invite</a>
												
					</div><!--/ .price-box -->
					
				</div><!--/ .price-option -->
				
				<div class="col-sm-4 price-option">
					
					<div class="price-box">
						
						<h4>Agency</h4>
						
						<div class="price">$299<span class="per">/month</span></div>
						
						<hr>
						
						<ul>
							<li>All features</li>
							<li>Up to 5 users per site</li>
							<li>Up to 10 sites</li>
						</ul>
						
						<a href="#" class="btn" data-toggle="modal" data-target="#cal-request-invite-agency">Request Invite</a>
												
					</div><!--/ .price-box -->
					
				</div><!--/ .price-option -->
				
			</div><!--/ .tab-pane#monthly-billing -->
			
	    </div><!--/ .tab-panel.row-->
	    
	    <div class="row" id="all-plans-include">
		    
		    <h3 class="text-center">All plans include...</h3>
		    
		    <div class="col-sm-3">
			    
			    <ul>
					<li>
						<i class="icon ion-checkmark"></i>
						<div class="text">Unlimited Content</div>
					</li>
					<li>
						<i class="icon ion-checkmark"></i>
						<div class="text">Unlimited Content Types</div>
					</li>
					<li>
						<i class="icon ion-checkmark"></i>
						<div class="text">Unlimited Social Posts</div>
					</li>
			    </ul>
			    
		    </div><!--/ .col-sm-3 -->
		    
		    <div class="col-sm-3">
			    
			    <ul>
					<li>
						<i class="icon ion-checkmark"></i>
						<div class="text">Checklist Templates</div>
					</li>
					<li>
						<i class="icon ion-checkmark"></i>
						<div class="text">Automatic Scheduling</div>
					</li>
					<li>
						<i class="icon ion-checkmark"></i>
						<div class="text">Browser Sidebar Extension</div>
					</li>
			    </ul>
			    
		    </div><!--/ .col-sm-3 -->
		    
		    <div class="col-sm-3">
			    
			    <ul>
					<li>
						<i class="icon ion-checkmark"></i>
						<div class="text">Ideas List</div>
					</li>
					<li>
						<i class="icon ion-checkmark"></i>
						<div class="text">Import Topics</div>
					</li>
					<li>
						<i class="icon ion-checkmark"></i>
						<div class="text">Browser Ideas Extension</div>
					</li>
			    </ul>
			    
		    </div><!--/ .col-sm-3 -->
		    
		    <div class="col-sm-3">
			    
			    <ul>
					<li>
						<i class="icon ion-checkmark"></i>
						<div class="text">Traffic Reporting</div>
					</li>
					<li>
						<i class="icon ion-checkmark"></i>
						<div class="text">Conversion Goals</div>
					</li>
					<li>
						<i class="icon ion-checkmark"></i>
						<div class="text">Automatic Reports</div>
					</li>
			    </ul>
			    
		    </div><!--/ .col-sm-3 -->
		    
	    </div><!--/ .row#all-plans-include -->
		
	</div><!--/ .container-fluid-->
	
</section>