<div class="container">

<h3>CTA</h3>

<!-- COMPONENT: CTA-Search  -->
<label for="">cta-search</label>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="custom-search-input object-center">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Buscar" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            Sign Up
                        </button>
                    </span>
                </div> <!-- end of input-group -->
            </div><!-- end of custom-search-input -->
        </div><!-- end of col-md-6 -->
    </div> <!-- end of row -->
</div> <!-- end of container -->

<br>

<!-- COMPONENT: CTA-Button  -->
<label for="">cta-button</label><br>
<button type="button" class="btn">LOGIN</button>

<br>
<br>

<!-- COMPONENT: CTA-Button-Conversion  -->
<label for="">cta-button-conversion</label><br>
<button type="button" class="btn">Request Invite</button>

<br>
<br>

<!-- COMPONENT: CTA-Button-Module  -->
<label for="">cta-button-module</label><br>
<button type="button" class="btn">REQUEST AN INVITE</button>

<br>
<br>

<!-- COMPONENT: CTA-Learn-More  -->
<label for="">cta-learn-more</label><br>
<label for="">Learn More</label>
 <i class="glyphicon glyphicon-chevron-down"></i>
 
 

<br>
<br>

</div>
