 <!-- COMPONENT: Content Calendar --> 
 <img class="img-responsive" [src]="content_calendar">

  <!-- COMPONENT: Calendar Cheklist --> 
 <img class="img-responsive" [src]="calendar_checklist">

   <!-- COMPONENT: Content Ideas --> 
 <img class="img-responsive" [src]="content_ideas">

    <!-- COMPONENT: Content Marketing Metrics --> 
 <img class="img-responsive" [src]="content_marketing_metrics">

     <!-- COMPONENT: Schedule Social Media--> 
 <img class="img-responsive" [src]="schedule_social_media">

